<!DOCTYPE html>
<html>

<head>
    <title> Med App </title>
</head>

<body>
    <h1> Form to add meds </h1>

    <form class="" action="/meds/add" method="post">
        <input type="text" name="name" placeholder="Medicine Name" />
        <input type="text" name="count" placeholder="Quantity" />
        <input type="text" name="brand" placeholder="Brand" />
        
        <button type="submit"> Add </button>
    </form>

</body>

 </html>